---
---

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #282c34;
    color: #ddd;
    font-family: sans-serif;
    font-size: 18px;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3em;

    margin: 0;
}

a {
    color: #ddd;
    text-underline-offset: 2px;
    text-decoration-color: #424a56;
}

a:visited {
    color: #ddd;
}

a:hover {
    text-decoration-color: #abb2bf;
}

h2 {
    font-size: 24px;
}

code {
    background-color: #21252b;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font: Menlo;
    font-size: 15px;
}

pre {
    background-color: #21252b;
    padding: 0.5em;
}

pre code {
    padding-left: 0;
}